{
	email admin@coderwenn.cloud
}

coderwenn.cloud, www.coderwenn.cloud {
	tls /certs/coderwenn.cloud.crt /certs/coderwenn.cloud.key

	handle /api/* {
		reverse_proxy api:8000
	}
	handle {
		root * /srv/web
		try_files {path} /index.html
		file_server
	}
}

chat.coderwenn.cloud {
	tls /certs/coderwenn.cloud.crt /certs/coderwenn.cloud.key

	reverse_proxy open-webui:8080
}
